<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="text-center">
        <app-title-h1 type="{{datospac.type}}" text="{{datospac.text}}"></app-title-h1>
    </div>
    <div class="container col-lg-20">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Si lo desea puede editar sus datos.</h1>
                            </div>


                            <form class="user"> 

                                


                                <div class="form-group row">

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input  type="text"
                                            class="form-control form-control-user" id="exampleFirstName"
                                            [(ngModel)]="paciente.nombre" [ngModelOptions]="{standalone: true}" >
                                    </div>

                                    <div class="col-sm-6">
                                        <input  type="text"
                                            class="form-control form-control-user" id="exampleLastName"
                                            [(ngModel)]="paciente.apellido" [ngModelOptions]="{standalone: true}">
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"
                                                    for="inputGroupSelect01">Tipo
                                                    Documento</label>
                                            </div>
                                            <select  class="custom-select"
                                            
                                              >

                                                <option value="CC">CC</option>
                                                <option value="TI">TI</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <input  type="text" class="form-control form-control-user" id="exampleLastName"
                                            [(ngModel)]="paciente.documento" [ngModelOptions]="{standalone: true}">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input  type="email"
                                        class="form-control form-control-user" id="exampleInputEmail"
                                        [(ngModel)]="paciente.correo" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group row">

                                    <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                                        <label ><h4 class="text-dark">Teléfono</h4></label>
                                    </div>

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input  type="text"
                                            class="form-control form-control-user" id="exampleFirstName"
                                            [(ngModel)]="paciente.telefono" [ngModelOptions]="{standalone: true}">
                                    </div>

                                    
                                    <div>
                                        
                                    </div>

                                </div>
                                

                                <input class="btn btn-primary btn-user btn-block" type="submit"
                                    value="Actualizar Datos">

                            </form>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->